div.cabecalho{
	background-color: #ed5240;
}

div.logo{
	padding-top: 30px;
	margin: 25px;
}

div.redes{
	padding-top: 30px;
}

div.conteudo h1{
	padding-top: 20px;
	padding-left: 25px;
	text-align: auto;
	font-family: "Times New Roman", Times, serif;
	color: #ffffff;
	font-size: 50px;
}

@media only screen and (max-width: 768px) {
  
	div.redes{
		padding-top: 0px;
		padding-bottom: 20px;
	}
	
	div.menu p{
		text-align: left;
		padding:0px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
 
}

	
div.conteudo h2{
	text-align: auto;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 32px;
	padding-left: 25px;
}


body{
	background-image: url('../imgs/bg-mes-2.jpg');
}	


div.conteudo p{
	text-align: left;
	font-family: Montserrat;
	color: #ffffff;
	font-size: 20px;
	padding-left: 25px;
	padding-top: 0px;
	padding-bottom: 30px;
	width: 80%;
}

div.video{
	padding: 40px;
}

div.footer{
	height: 65px;
	background-color: #ed5240;
	width: 100%;
    bottom: 0;
    width:100%;
    margin: 0;
    padding: 0;
   	position: fixed;
}


div.menu p{
	color: #ed5240;
	font-size: 30px;
	font-family: Montserrat;
	text-align: center;
	padding: 30px;
}

div.menu p a{
	color: #ffffff;
}

div.conteudo2 {
	text-align: center;
	font-size: 20px;
	font-family: Montserrat;
	color: #ed5240;

}

div.livro1,
div.livro2,
div.livro3, 
div.livro4{
	padding-top: 30px;
	padding-bottom: 100px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 10px;
	width: 100%;
	color: #ffffff;
	text-align: left;
	font-size: 20px;
}

div.livro1 p,
div.livro2 p,
div.livro3 p, 
div.livro4 p{
	padding-top: 20px;
	color: #ffffff;
	text-align: left;
	font-size: 20px;
}



div.box{
	padding-top: 50px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 10px;
	color: #ffffff;
	text-align: center;

}

div.not{
	padding-top: 50px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 10px;
	color: #ffffff;
	text-align: center;
}

div.bib{
	padding-top: 50px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 10px;
	color: #ffffff;
	text-align: center;
	font-family: Arial;
}

div.funcionamento{
	margin: 30px;
}

div.infos{
	color: #ffffff;
	margin-top: 130px;
	margin-bottom: 100px;
}
div.conteudo2 h1{
	padding-top: 30px;
	
}

div.box p{
	padding-top: 20px;
}

div.not p{
	padding-top: 20px;
}

div.bib p{
	padding-top: 20px;
}

div.formul{
	padding-bottom: 100px;
	padding-left: 30px;
	color: #ffffff;
	text-align: center;
	font-family: Montserrat;
}

div.formul h1{
	color: #ed5240;
}

div.fut_im{
	width: 100%;
}